:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #131921;
    --secondary-color: #fff;
    --error-color: rgba(194, 0, 0, 0.71);
}
.background {
    background-color: #FFF5EE;
    margin: 0;
    counter-reset: section;
}
.newDoctorCard {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 20px;
    color: black;
    background-color: #FAEBD7;
    text-align: center;
}
.newPatientCard{
margin: auto;
    width: 59%;
    border: 3px solid black;
    padding: 20px;
    color: black;
    background-color: #FAEBD7;
    text-align: center;
}
#patientTable{
margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 20px;
        text-align: center;

}
.validated-field:invalid {
    outline: 2px solid var(--error-color);
}
.validated-field:focus:invalid {
    color: var(--error-color);
}

.card-content {
    max-width: 50%;
}
.card-content2 {
    max-width: 59%;
}

#result {
 margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 20px;
        text-align: center;



}
#result2 {
 margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 20px;
        text-align: center;



}
#result3 {
 margin: auto;
    width: 59%;
    border: 3px solid black;
    padding: 20px;
        text-align: center;



}
#result4 {
 margin: auto;
    width: 59%;
    border: 3px solid black;
    padding: 20px;
        text-align: center;



}
#patientTable {
 margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 20px;
        text-align: center;



}
.form-field {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 200%;
    padding: 10px;
}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
  background-color: silver;
  overflow: hidden;
      border: 5px solid blue;


}
.navBar a {
    width: 25%;
  float: left;
  color: black;
  text-align: justify;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;

}

.navBar a:hover {
  background-color: white;
  color: purple;
}

.active {
    background-color: dodgerblue;
}

.site-header {
    font-size: 36px;
    line-height: 40px;
    height: 100px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    color: var(--secondary-color);
    padding: 10px;
}

.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0 20px;
}

tr:hover {background-color: coral;}
