:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #131921;
    --secondary-color: #fff;
    --error-color: rgba(194, 0, 0, 0.71);
}

.background {
    background-color: black;
    margin: 0;
    counter-reset: section;
}

.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0 20px;
}

.site-header {
    font-size: 36px;
    line-height: 40px;
    height: 100px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    color: #FBFAF5;
}

.header_nav_link {
    margin-left: 20px;
    vertical-align: top;
    line-height: 40px;
}

.about {
    margin-left: 20px;
}

.button, button {
    background: #aed9ff;
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.button:hover, button:hover {
    background: #9cc3e4;
}

.newPatientCard {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 20px;
    color: black;
    background-color: silver;
    text-align: center;
}
.newDoctorCard {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 20px;
    color: black;
    background-color: silver;
    text-align: center;
}

.validated-field:invalid {
    outline: 2px solid var(--error-color);
}
.validated-field:focus:invalid {
    color: var(--error-color);
}

.card-content {
    max-width: 250px;
}

.card-content .form-field {

}
.form-field {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 275%;
    padding: 10px;
}
.doctorFormField {
    margin: auto;
    width: 275%;
    padding: 10px;
}

#concert-list li {
    margin-bottom: 1rem;
}

.state {
    display: none;
}

.state.active {
    display: block;
}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
  background-color: silver;
  overflow: hidden;
      border: 5px solid green ;


}
.navBar a {
    width: 33%;
  float: left;
  color: black;
  text-align: justify;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;

}

.navBar a:hover {
  background-color: white;
  color: purple;
}

.active {
    background-color: red;
}

.patientPage {
    display: flex;
    align-items: center;
    text-align: center;
}

.images{
display: flex;
justify-content: center;
}

#hospital {
width: 45%;
height: auto;
}