:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #131921;
    --secondary-color: #fff;
    --error-color: rgba(194, 0, 0, 0.71);
}

body {
    font-family: Arial, sans-serif;
}

.background {
    background-color: #f2f2f2;
}

/*.header {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    background-color: white;*/
/*    color: black;*/
/*    padding: 20px;*/
/*}*/

.header h1 {
    font-size: 24px;
    margin: 0;
    text-align: center;
}

.header ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header li {
    margin-left: 20px;
}

.header a {
    color: black;
    text-decoration: none;
}

.newPatientCard {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
}

.newPatientCard h2 {
    margin: 0;
    font-size: 18px;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-field label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-field input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
    padding: 5px;
    width: 100%;
}

button[type="submit"] {
    background-color: cadetblue;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 20px;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
}

.card h2 {
    margin: 0;
    font-size: 18px;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: #333;
    color: white;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}
